@model STA.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
    @foreach (var item in Model.Units)
    {
        <dl class="dl-horizontal">
            <dt>
                Id
            </dt>
            <dd>
                @item.Id
            </dd>
            <dt>
                Name
            </dt>
            <dd>
                @item.Name
            </dd>
            <dt></dt>
            <dd><a href="~/Units/Edit/@item.Id?courseId=@Model.Id">Edit</a></dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
